USE [MasuyaDB]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 07/08/2025 08:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[kode_customer] [varchar](20) NOT NULL,
	[nama_customer] [varchar](100) NOT NULL,
	[alamat_lengkap] [text] NULL,
	[provinsi] [varchar](50) NULL,
	[kota] [varchar](50) NULL,
	[kecamatan] [varchar](50) NULL,
	[kelurahan] [varchar](50) NULL,
	[kode_pos] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[kode_customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produk]    Script Date: 07/08/2025 08:51:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produk](
	[kode_produk] [varchar](20) NOT NULL,
	[nama_produk] [varchar](100) NOT NULL,
	[harga] [decimal](18, 2) NOT NULL,
	[stok] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[kode_produk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransaksiDetail]    Script Date: 07/08/2025 08:51:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaksiDetail](
	[id_detail] [int] IDENTITY(1,1) NOT NULL,
	[no_inv] [varchar](30) NULL,
	[kode_produk] [varchar](20) NULL,
	[nama_produk] [varchar](100) NULL,
	[qty] [int] NULL,
	[harga] [decimal](18, 2) NULL,
	[disc1] [float] NULL,
	[disc2] [float] NULL,
	[disc3] [float] NULL,
	[harga_net] [decimal](18, 2) NULL,
	[jumlah] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransaksiHeader]    Script Date: 07/08/2025 08:51:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaksiHeader](
	[no_inv] [varchar](30) NOT NULL,
	[kode_customer] [varchar](20) NULL,
	[nama_customer] [varchar](100) NULL,
	[alamat] [text] NULL,
	[tgl_inv] [date] NULL,
	[total] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[no_inv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
